<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">
        <span class="material-symbols-outlined"> network_ping </span>
      </mat-icon>
      Data Binding
    </ng-template>

    <app-demo></app-demo>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">
        <span class="material-symbols-outlined"> design_services </span>
      </mat-icon>
      Services | Forms | Pipes
    </ng-template>

    <app-rascunhos-list></app-rascunhos-list>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">
        <span class="material-symbols-outlined"> directions </span>
      </mat-icon>
      Modules | LazyLoad
    </ng-template>

    Modules | LazyLoad
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">
        <span class="material-symbols-outlined"> phone_bluetooth_speaker </span>
      </mat-icon>
      Comunicação | Componentes
    </ng-template>

    Comunicação | Componentes
  </mat-tab>
</mat-tab-group>
