<main>
  <div class="container py-4">
    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-white bg-dark rounded-3">
          <h2>Feed RSS | Analytics</h2>
          <p>
            Esta é uma das melhores experiências que vocês presenciarão e
            poderão usar. Trata-se de um dos maiores acervos do mundo sobre .Net
            Core e Angular!
          </p>
          <button
            routerLink="analytics"
            class="btn btn-outline-info"
            type="button"
          >
            Dashboard
          </button>
        </div>
      </div>

      <div class="col-md-6">
        <div class="h-100 p-5 bg-default border rounded-3">
          <h2>C#Corner Dashboard</h2>

          <p>
            Em nosso Dashboard você verá uma análise geral, com listagens e
            gráficos de vários formatos, dos posts do C#Corner, mas se desejar
            ter acesso à listagens completas sem filtro de Author, clique aí
            embaixo.
          </p>

          <button
            routerLink="categoryandortitle"
            class="btn btn-outline-success"
            type="button"
          >
            Lista Categoria
          </button>
        </div>
      </div>
    </div>
  </div>
</main>
